
*{/* como los imports*/
    margin:0%;/*quitar margenes externos*/
    padding:0%;
}
/* Navegador */

.container-button {
    display: flex;
    justify-content: right;
    gap: 10px;
    width: 500px;
    margin-left: auto;
    align-items: center;
}

.navbar{
    display: flex;
    padding: 10px;
    background-color: #A78B71;
}

/* imagen y portada*/
.portada {

    background-image:linear-gradient(to right,rgb(0 0 0/.2),rgb(0 0 0 /.5)),url(img/portada.jpg);
    width:100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}
.text-portada {
    z-index: 1;
    position: absolute; 
    top: 30%;
    left: 5%; 
    z-index: 1; 
    width:20%; 
    padding: 20px; 
    color:white
}


/*about*/

.text-about {
    text-align: center;
    margin:40px
}

/* carrucel*/
.contenedor-fotos{
    display:flex;
    position: relative;
    z-index: 2;
}
.carrucel-fotos1{
    position: relative;
    margin-left: 37%;
    width: 400px;
    height: 400px;
    max-width: 400px;
    overflow: hidden;
    border-radius: 68px;
    background: #e0e0e0;
    box-shadow: 24px 24px 47px #bebebe,
                -24px -24px 47px #ffffff;
    display: flex;

    }

.fotos1 {
    display: flex;
    transition: transform 0.5s ease-in-out;
    }
.fotos1 img {
    width: 100%;
    flex-shrink: 0;
}
.puntos {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.puntos button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.puntos button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* testionios*/
.testimonios-container{
    gap: 50px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    margin-top:-420px; 
    margin-left: 10px;
    margin-right: 10px;
}
.testimonio-1{
    background-color: antiquewhite;
    width: 600px;
    height: 400px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5%;

}
.testimonio-2{
    background-color: antiquewhite;
    width:600px ;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5%;

}
.testimonios-container img{
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.testimonios-container p {
    margin-left: 10px;
    margin-right: 10px;
}

/*position:relative;/*para que sea la guia a la cual  se va a ajustar*/
/*position:absolute;/*para que ajuste al relative, ajusta sobre la imagen*/
/*overflow: hidden; para que no se desborde la imagen*/
/*object-fit: cover;  Mantiene la proporción de la imagen y la recorta si es necesario para cubrir todo el área */

/*#583E26
#A78B71
#F7C815
#EC9704
#9C4A1A*/